
<div id="container">

  <div id="nav"> 
      <div id="logo"><p>SOL</p></div>
      <div id="rnav"><label>Already using?</label><a href="#" id="signin">Sign in</a></div>
  </div>
 

      
      <div id="main">
          <section class="left" >
              <h1>Create an<br />account</h1>
              <ul class="points">
                  <li>    <i class="fa fa-shield"></i>

                    <label>Secure payments through <br/>
                      reliable partners </label></li>
                  <li><i class="fa-solid fa-bolt"></i> <label>Fast transfers </label></li>
                  <li><i class="fa fa-percent" aria-hidden="true"></i>
                    <label>Fair Commisions </label></li>
                  <li><i class="fa-solid fa-wave-square"></i><label>Best available rates </label></li>
                  <li><i class="fa-regular fa-thumbs-up"></i> <label>Convenience </label></li>
              </ul>
          </section>
          
          <section class="right">
              <form [formGroup]="createForm" (ngSubmit)="onSubmit()" novalidate>
                <h3>{{formSubmitMesg}}</h3>
                      <div class="inp-group">
                          <div class="inp_top"> <span>Full Name</span></div>
                          <input type="text" name="fname" class="inp"
                          formControlName="fname"
                          required/> 
                          <span class="inp_append"  *ngIf="f['fname'].valid"  >  <i class="fa fa-check"></i> </span>
                          <span class="inp_append"  *ngIf="f['fname'].invalid"  >
                            <i class="fa fa-circle-exclamation" style="color: #ddd;" ></i>
                          </span>

                      </div>
                      <div class="inp-group">
                          <div class="inp_top"> <span>Email</span></div>
                          <input type="text" name="email" class="inp" 
                          formControlName="email"
                          required/> 
                          <span class="inp_append"
                          *ngIf="f['email'].valid " ><i class="fa fa-check"></i></span>
                          <span class="inp_append"  *ngIf="f['email'].invalid"  >
                            <i class="fa fa-circle-exclamation" style="color: #ddd;" ></i>
                          </span>
                      </div>
                    
                      <div class="inp-group">
                          <div class="inp_top"> <span>Phone Number</span></div>
                          <input type="tel" name="phone" class="inp" 
                          formControlName="phone"
                          required/> 
                          <span class="inp_append"
                          *ngIf="!f['phone'].invalid"
                          ><i class="fa fa-check"></i></span>
                          <span class="inp_append"  *ngIf="f['phone'].invalid"  >
                            <i class="fa fa-circle-exclamation" style="color: #ddd;" ></i>
                          </span>
                      </div>
                      <div class="inp-group">
                          <div class="inp_top"> <span>Password</span></div>
                          <input type="password" name="password" class="inp"
                          formControlName="password"
                          required /> 
                          <span class="inp_append"  *ngIf="f['phone'].invalid"  >
                            <i class="fa fa-circle-exclamation" style="color: #fff;" ></i>
                          </span>
                          <span class="inp_append">

                          <div class="pwdhint"
      >
       
      
      <app-password-strength-bar [passwordToCheck]="createForm.value.password" [barLabel]="barLabel">  
      </app-password-strength-bar> 
    </div> 
        
                          <!-- *ngIf="!f['password'].invalid && (!f['password'].dirty || !f['password'].touched)"
                          >
                          <i class="fa fa-check"></i>-->
                        </span> 
                      </div>
                      <div class="inp-group">
                          <div class="inp_top"> <span>Date of Birth</span></div>
                          <input type="text" readonly name="dob" class="inp" 
                          formControlName="dob"
                          required
                          placeholder="yyyy-mm-dd"
               name="dp"  ngbDatepicker #d="ngbDatepicker"
               [footerTemplate]="footerTemplate"  (click)="d.toggle()"/> 
                          <span class="inp_append"
                          *ngIf="f['dob'].valid "
                          ><i class="fa fa-check"></i></span>
                          <span class="inp_append"  *ngIf="f['dob'].invalid"  >
                            <i class="fa fa-circle-exclamation" style="color: #ddd;" ></i>
                          </span>
                      </div>
                      <div class="inp-group">
                          <button  id="signup-bt">Sign up</button>
                      </div>
                      <div class="inp-group">
                          <input type="checkbox" id="test1"  checked="checked"/>
                      <label for="test1" class="agr-text">I agree to our Terms of Service and Privacy and Policy </label>
                      </div>
                      
                    </form>    
          </section>
      </div>
      
 
  </div>

  <ng-template #footerTemplate>
    <hr class="my-0">
    <button class="btn btn-primary btn-sm m-2 float-end" >Set Today</button>
    <button class="btn btn-secondary btn-sm m-2 float-start" (click)="d.close()">Cancel</button>

  </ng-template>

 
  